<div class="m-3">
    <div class="c-product-card">
        <div class="c-product-card__img-container">
            <img src="{{product.image}}" class="c-product-card__img" alt="{{product.description}}">
        </div>
        <div class="card-body">
            <p class="card-text">{{product.name}}</p>
            <h5 class="card-title">€{{product.price}}</h5>
            <p class="card-text">{{product.description}}</p>
            <div class="row">
                <div class="col-6 rating">{{product.rating}} </div>
                <div class="col-6 text-right"><a [routerLink]="['/product/'+product.id]" class="btn btn-light ">editar</a></div>
            </div>
        </div>
    </div>
</div>