<div class="container">
    <div class="container-main px-5">
        <h3>Creación/edición de productos</h3>
        <div class="row">
            <div class="col-md-6 mt-5">
                <form class="form-container" [formGroup]="productForm" (ngSubmit)="onSubmit()">
                    <input type="hidden" class="form-control mb-3" formControlName="name">

                    <label for="name" class="form-label">Nombre del producto:</label>
                    <input type="text" class="form-control mb-3" placeholder="Por ej: Tiesto para planta" formControlName="name">
                    <div *ngIf="form.name?.invalid && form.name?.touched" class="form-alert">
                        <div *ngIf="form.name.errors?.['required']">
                            Campo obligatorio
                        </div>
                    </div>
                        
                    <label for="price" class="form-label">Precio:</label>
                    <input type="number" class="form-control mb-3" placeholder="Por ej: 9.50" formControlName="price">
                    <div *ngIf="form.price?.invalid && form.price?.touched" class="form-alert">
                        <div *ngIf="form.price.errors?.['required']">
                            Campo obligatorio
                        </div>
                        <div *ngIf="form.price.errors?.['min']">
                            Precio inválido
                        </div>
                    </div>

                    <label for="description" class="form-label">Descripción:</label>
                    <textarea class="form-control mb-3" placeholder="Por ej: Lo más vendido este mes" formControlName="description" rows="3"></textarea>

                    <label for="image" class="form-label">Ruta de la imagen:</label>
                    <input type="url" class="form-control mb-3" placeholder="Por ej: http://blabla.com/img.jpg" pattern="https://.*" size="30" required formControlName="image">

                    <label for="rating" class="form-label">Opiniones:</label>
                    <input type="number" class="form-control mb-3" placeholder="Por ej: 4.28" formControlName="rating">
                    <div *ngIf="form.rating?.invalid && form.rating?.touched" class="form-alert">
                        <div *ngIf="form.rating.errors?.['required']">
                            Campo obligatorio
                        </div>
                        <div *ngIf="form.rating.errors?.['min']">
                            Rango de 0 a 5
                        </div>
                        <div *ngIf="form.rating.errors?.['max']">
                            Rango de 0 a 5
                        </div>
                    </div>

                    <div role="group" aria-label="Basic outlined example" class="u-text-right">
                        <input type="submit" class="b-btn" value="Guardar ">
                    </div>
                </form>
            </div>
            <div class='col-md-6'>
                <app-product-card [product]='productForm.value'></app-product-card>
            </div>
        </div>
    </div>
</div>