.b-btn {
    background-color: var(--color-orange);
    color: var(--color-white);
    font-size: 14px;
    font-weight: 900;
    border-radius: 4px;
    border: 0;
    padding: 8px 12px;
    cursor: pointer;
    &--secondary{
        background: var(--color-white);
        color: var(--color-blue);    
        border: 1px solid var(--color-blue);

    }
}