<div class="logo-container">
    <img src="../../../assets/images/logo.png" alt="" srcset="">
</div>
<div class="nav-container">
    <ul>
        <li>
            <a [routerLink]="['/home']">
                <div class="nav-container__icon">
                    <i class="bi bi-house"></i>
                    <p>Home</p>
                </div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/products']">
                <div class="nav-container__icon">
                    <i class="bi bi-binoculars"></i>
                    <p>Prods</p>
                </div>
            </a>
        </li>

        <li>
            <a [routerLink]="['/new']">
                <div class="nav-container__icon">
                    <i class="bi bi-pencil-square"></i>
                    <p>Create/Edit</p>
                </div>
            </a>
        </li>
    </ul>
</div>